# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# Packaging
build/
dist/

# Test/coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Editors
.vscode/
.idea/

# OS
.DS_Store
